<section class="bg-primary" id="about">
        <div class="container">
            <div class="fade minheight">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <img src="https://drive.google.com/uc?id=1npooXNYRNgrsbio6Jx5qRmgcSwGoCnV3" class="secondary"/>
                    <h2 class="section-heading">Message</h2>
                    <hr >
                    <p class="text-faded">
                        this is a Message
                    </p>
                    <img src="https://drive.google.com/uc?id=1npooXNYRNgrsbio6Jx5qRmgcSwGoCnV3" class="secondary"/>
                    <h3 class="section-heading">Another message</h3>
                    <hr>
                    <p class="text-faded">
                        this is another message    
                    </p>
                </div>
            </div>
            </div>
        </div>
    </section>
