<section class="bg-primary" id="about">
    <div class="container">
        <div class="fade">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr >
                <p class="text-faded">NCSU Nazaare was founded in 2012 by Meera Patel and Neelam Patel with the intention of bringing awareness to South-Asian culture on the NC State campus. We are a student run, co-ed competitive Bollywood-fusion dance team based in Raleigh, North Carolina. 

                        Our routines consist of various styles including Bollywood, hip-hop, bhangra, classical, kuthu, contemporary, and more. We combine intricate choreography with impressive technique and storytelling. In the past, we have brought the plots of movies, such as Inside Out, Black Swan, and Night at the Museum, to life through acting, dialogue, and set design. 
                        
                        We have the honor of competing at some of the nation’s most well-known Bollywood-fusion dance competitions each year against collegiate teams from all over the country. We have represented NC State University at national competitions several times. NCSU Nazaare strives to bring an entertaining and engaging performance to the stage every single year.
                </p>
                <hr>
                <h3 class="section-heading">Current Exec Board & Past Exec</h3>
                <hr>
                <p class="text-faded">
                    2012 - 2013: Meera Patel and Neelam Patel <br>
                    2013 - 2014: Meera Patel and Neelam Patel <br>
                    2014 - Fall: Meera Patel and Neelam Patel <br>
                    2015 - Spring: Smirthi Selvaraj, Vijay Sadnani, Elliot You (Lead Choreographer) <br>
                    2015 - 2016: Smirthi Selvaraj, Vijay Sadnani, Elliot You (Lead Choreographer) <br>
                    2016 - 2017: Taige Shukla and Bhavi Patel <br>
                    2017 - 2018: Harini Selveraj, Anthony Gomes, Sagar Mistry, Bhavi Patel <br>
                    2018 - 2019: Priyanka Mohanty, Divya Ramaswamy, Harini Selvaraj <br>
                    2019 - 2020: Priya Rallapalli, Neha Menon, Akriti Tiwari <br>
                    2020 - 2021: Maitri Patel, Poorna Gandhi, Aishwarya Gunashekaran <br>
                    </p>
            <a href="/performances.html" class="btn btn-primary btn-xl page-scroll">Performances</a>
            </div>
        </div>
        </div>
    </div>
</section>
