<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=apQbZS6EFq0" class="portfolio-box">
                    <!-- <img class="img-responsive change-ratio" src="http://img.youtube.com/vi/apQbZS6EFq0/hqdefault.jpg" > -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/apQbZS6EFq0" class="embed-responsive-item" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                2012-2013
                            </div>
                            <div class="project-name">
                                During our first season, we competed at the Manhattan Project. 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=wLmZ9bhUkvw" class="portfolio-box">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/wLmZ9bhUkvw" class="embed-responsive-item" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                2013-2014
                            </div>
                            <div class="project-name">
                                    During the fall semester, we competed at Aaj Ka Dhamaka and received first place. During the spring semester, we competed at the Manhattan Project, East Coast Dhamaka, and Aag Ki Raat where we placed third, third, and second respectively. 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=sYLEwwcqmn8" class="portfolio-box">
                        <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="https://www.youtube.com/embed/sYLEwwcqmn8" class="embed-responsive-item" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                2014-2015
                            </div>
                            <div class="project-name">
                                During the fall semester, we competed at Jhalak. During the spring semester, we competed at The Manhattan Project and Aag ki Raat where we placed first.                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=UjMr-H2cWCo" class="portfolio-box">
                        <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="https://www.youtube.com/embed/UjMr-H2cWCo" class="embed-responsive-item" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                2015-2016
                            </div>
                            <div class="project-name">
                                During the fall semester, we attended Jhalak where we placed first place which gave us a direct bid to Bollywood America 2016. During the spring semester, we placed second at Legacy on Broad and third at A-Town Showdown. We attended a national competition (Bollywood America) where we placed 5th.                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=wsHrj8wPriE" class="portfolio-box">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/wsHrj8wPriE" class="embed-responsive-item" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                2016-2017
                            </div>
                            <div class="project-name">
                                During the fall semester, we competed at Aaj ka Dhamaka and Jhalak where we placed second and third place, respectively. During the spring semester, we competed at A-Town Showdown where we placed second place, Midwest Dhamaka where we placed third, and Infusion. We also competed at Bollywood America, the national competition. 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=c8RNHHzoe3c" class="portfolio-box">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/c8RNHHzoe3c" class="embed-responsive-item" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                         </div>
                        <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                2017-2018
                            </div>
                            <div class="project-name">
                                During the fall semester, we competed at Aaj ka Dhamaka where we received first place and at Jhalak where we received second place. During the spring semester, we competed at Midwest Dhamaka and A-Town Showdown where we placed third and second, respectively. We also had the honor of competing at a national competition (Legends)                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=Yw8bA0FW16o" class="portfolio-box">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/Yw8bA0FW16o" class="embed-responsive-item" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                2018-2019
                            </div>
                            <div class="project-name">
                                During the fall semester, we competed at Aaj ka Dhamaka where we received second place. During the spring semester, we competed at nationals (Legends), as well as Maryland Minza and Aag Ki Raat where we placed first and second, respectively.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=lQX2iJkK2ws" class="portfolio-box">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/lQX2iJkK2ws" class="embed-responsive-item" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                2019-2020
                            </div>
                            <div class="project-name">
                                    During the fall semester, we competed at Aaj ka Dhamaka. In the spring semester, we competed at Maryland Minza and UGA India Night where we received 3rd place. 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=c8RNHHzoe3c" class="portfolio-box">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/c8RNHHzoe3c" class="embed-responsive-item" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                2017-2018
                            </div>
                            <div class="project-name">
                                During the fall semester, we competed at Aaj ka Dhamaka where we received first place and at Jhalak where we received second place. During the spring semester, we competed at Midwest Dhamaka and A-Town Showdown where we placed third and second, respectively. We also had the honor of competing at a national competition (Legends)                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
        </div>
    </div>
</section>
