<section id="services" class="bg-primary">
    <div class="container">
        <div class="fade minheight">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Book Us!</h2>
                    <hr class="primary">
                    <img src="https://drive.google.com/uc?id=1eZqSR4Vx7lf2mC0h9mENkEv36VlS3DpZ" class="secondary"/>

                    <p class="text-faded">
                            We can perform at your event! more place holder text. We have lots of experienced performers.
                            Your event will be great blah blah
                    </p>
                    <form action="https://getform.io/f/f2955906-16dd-4a5d-873a-d696be9d5c14" method="POST">    
                        <input type="text" name="name" label="name" placeholder="Your name">
                        <input type="email" name="email" placeholder="Your email">
                        <!-- <input type="description" class="description" name="description" placeholder="A description of your event"> -->
                        <textarea rows="2" type="description" class="description" name="description" placeholder="A description of your event"></textarea>
                        <button type="submit" class="btn btn-primary btn-xl" style="margin: 10px">Send</button>            
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
