<section id="services" class="bg-primary">
    <div class="container">
        <div class="fade minheight">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Sponsor Us!</h2>
                    <hr class="primary">
                    <iframe width='100%' height='1000' src="https://docs.google.com/document/d/e/2PACX-1vSp6_cVI_Dbyw3_96cLSHQ2sY2yIlIw3BUdD6Mobf-ZCdMh9RJIpiv9uJhXZMYaInkFV2kouSTPQwdF/pub?embedded=true"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
